	{% load staticfiles %}
	
	<!DOCTYPE html>
	
	<html lang="en" class="no-js">
		<head>
			{% block meta_tags %}{% endblock meta_tags%}

			<title>
				{% block title %}BPM App{% endblock title %} 
			</title>
			
			{% block stylesheets %}
				<link type="text/javascript" href="{% static 'bpmapp/js/topnavbar.js' %}">
				<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
			{% endblock %}
			
			{% block javascript %}
				<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
				
				<script>
					$(function() {
						cbpHorizontalMenu.init();
					});
				</script>
			{% endblock javascript %}
			
			{% block extra_head %}{% endblock %}
		</head>
		
		<body>
			<header class="navbar topnavbar">
				{% include 'bpmapp/_topnavbar.html' %}
			</header>
			
			<div id="main" role="main">
				<div class="container">
					{% block content %}
					{% endblock content %}
				</div>
			</div> {# /#main #}
			
			<script type='text/javascript' src="{% static 'bpmapp/js/cbpHorizontalMenu.min.js' %}"></script>
		</body>
	</html>
